
get '/edit/<%= @t[:name] %>/:val' do
	@<%= @t[:name] %> = DB[:<%= @t[:name] %>][<%= @t[:update_by] %> => params[:val]]
	slim :<%= @t[:name] %>_edit
end

post '/edit/<%= @t[:name] %>/:val' do
	@<%= @t[:name] %> = DB[:<%= @t[:name] %>].filter(<%= @t[:update_by] %> => params[:val]).update(<%= @t[:update_sql] %>)
	redirect '/<%= @t[:name] %>'
end
