
get '/new/<%= @t[:name] %>' do
	slim :<%= @t[:name] %>_new
end

post '/new/<%= @t[:name] %>' do
	@<%= @t[:name] %> = DB[:<%= @t[:name] %>].insert(<%= @t[:insert_sql] %>)
	redirect '/<%= @t[:name] %>'
end
