
get '/edit/<%= @name %>/:val' do
	@<%= @name %> = DB[:<%= @name %>][<%= @update_by.to_sym %> => params[:val]]
	slim :<%= @name %>_edit
end

post '/edit/<%= @name %>/:val' do
	@<%= @name %> = DB[:<%= @name %>].filter(<%= @update_by.to_sym %> => params[:val]).update(<%= @update_sql %>)
	redirect '/<%= @name %>'
end
