
get '/<%= @name %>/:page_id' do
	@title 		= '<%= @name %>'
	@page_id 	= 1
	@page_size 	= <%= @page_size %>
	
	@page_id	= params[:page_id] if params[:page_id] != nil and params[:page_id] > 0
	@page_offset= (@page_id.to_i - 1)*@page_size
	@<%= @name %>	= DB[:<%= @name %>].limit(@page_size, @page_offset)
	slim :<%= @name %>
end
